<!-- templates/show_profile_page.html-->

{% extends 'project/base.html' %}

{% block content %}
<h1 style="font-style: oblique; background-color: darkred; color:white">BU Tech Rental</h1>

<a href = "{% url 'update_profile' profile.pk %}">Edit this profile</a> 
<center>
<h1> Student Name: {{profile.name}} </h1>
<h3> Student ID: {{profile.student_id}} </h3>
<h3> Email: {{profile.email}} </h3>
<h3> Phone number: {{profile.phone}} </h3>
<h3> Rental Start Date: {{profile.dateIn}} </h3>
<h3> Rental Deadline: {{profile.dateOut}} </h3>
<h3> Laptop name: {{profile.laptop.model_name}}</h3>
<h3> Laptop Rental ID: {{profile.laptop.id}} </h3>
</center>

{% endblock %}