<!-- templates/show_profile_page.html-->

{% extends 'mini_fb/base.html' %}

{% block content %}

<center>
<h1> {{profile.first_name}} {{profile.last_name}} </h1>
<h3> {{profile.home_town}} </h3>
 <img src="{{profile.prof_url}}" style="max-width: 400;">  
</center>


<!-- {{mini_fb.profile.get_status_message}}-->

<h3> Status Messages </h3>

<ul>

        <table>
                <colgroup>
                    <col span = "1" style="width: 30%;">
                    <col span = "1" style="width: 45%;">
                    <col span = "1" style="width: 25%;">
                </colgroup>
                <tr>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Person</th>
                </tr>


                {% for status in profile.get_status_messages %}
                <tr>
                    <td> {{status.timestamp}} </td>
                    <td> {{status.messages}</td>
                    <td> {{status.profile}} </td>
                </tr>
                {% endfor %}
        </table>
    </ul>
{% endblock %}
